langchain==0.3.0
langchain-community
langchain_openai
PyPDF2
openai
wave
streamlit==1.39.0
tiktoken
nltk
audio_recorder_streamlit
streamlit-option-menu
streamlit-lottie
faiss-cpu
boto3
Ipython
python-dotenv
streamlit_extras
assemblyai
streamlit_lottie
#aws
#azure-cognitiveservices-speech